.wrapper{
    background-color: #f7f7f7;
    :global(.fr-field-object){
        background-color: red;
        margin-bottom: 20px;
        :global(.fr-label-object){
            :global(.fr-label-title){
                &::after{
                    content: "";
                }
            }
        }
    }
}